.colorPickerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}

h1{
    margin: 50px;
    font-size: 3rem;
}

.colorDisplay {
    width: 200px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid hsl(0, 0% 80%);
    border-radius: 25px;
    margin-bottom: 25px;
    transition: 0.25s ease;
}

.colorDisplay p {
    color: hsl(0, 0% 20%);
    text-align: center;
    font-size: 2rem;
}

label {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="color"] {
    width: 75px;
    height: 50px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    border: 3px solid hsl(0, 0% 80%);
}